{
  "extends": [
    "stylelint-config-html",
    "stylelint-config-recommended-vue",
    "stylelint-config-prettier"
  ],
  "rules": {
    "rule-empty-line-before": ["always", {
      "except": ["after-single-line-comment", "first-nested"]
    }],
    "no-descending-specificity": null
  }
}
